<%= form_for @event, :builder => EventsFormBuilder do |f| %> 
	<div class="form-group">
		<%= f.label :title, "Name" %>
		<%= f.text_field :title %>
	</div>

	<div class="form-group">
		<%= f.label :location, "Location" %>
		<%= f.text_field :location %>
	</div>

	<div class="form-group">
		<%= f.label :start_time, "Start Time" %>
		<%= f.datetime_select :start_time, :order => [:month, :day, :year, :hour, :minute] %>
	</div>

	<div class="form-group">
		<%= f.label :end_time, "End Time (optional)" %>
		<%= f.datetime_select :end_time, :order => [:month, :day, :year, :hour, :minute] %>
	</div>

	<div class="form-group">
		<%= f.label :description, "Description (optional)" %>
		<%= f.text_area :description %>
	</div>

	<%= f.submit "Create Event" %>

<% end %> 