<%= form_for @event, :builder => EventsFormBuilder do |f| %> 
	<div class="form-group">
		<%= f.label :title, "Name" %>
		<%= f.text_field :title %>
	</div>

	<div class="form-group">
		<%= f.label :location, "location" %>
		<%= f.text_field :location, default: "Trinity" %>
	</div>

	<div class="form-group">
		<%= f.label :start_time, "Start Time" %>
		<%= f.datetime_select :start_time, :order => [:day, :month, :year, :hour, :minute] %>
	</div>

	<div class="form-group">
		<%= f.label :end_time, "End Time" %>
		<%= f.datetime_select :end_time, :order => [:day, :month, :year, :hour, :minute] %>
	</div>

	<%= f.submit "Create Event" %>

<% end %> 