
<%= render 'form' %>

<!-- 
	<%= form_for @event do |f| %>
	<div class="form-group">
    	<%= f.label :recurring_rules, "no defaults and not set" %><br/>
    	<%= f.select_recurring :recurring_rules %>
  	</div>

  	<div class="event_info" %>
	   	<div class="form-group"%>
	   		<%= f.label :title %>
	   		<%= f.text_field :title, :class => "form-control" %> 
	   	</div>

	   	<div class="form-group"%>
	   		<%= f.label :date %>
	   		<%= f.date_select :date, :class => "form-control" %> 
	   	</div>
	</div>

	<%= f.submit "Create Event", :class => "btn btn-primary" %>
<% end %>

-->