<!DOCTYPE html>
<html>
<head>
  <title>Trinity Baptist Church <%= content_for?(:title) ? "| "+ content_for(:title) : "" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'partials/header' %>
<!-- <span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span> -->
<div class="container wrapper">
	<%= yield %>
</div>
<%= render 'partials/footer' %>
</body>
</html>
